@(texts : List[Actor] , twitter : Form[Twitter])
@layout("All texts") {
    @helper.form(action = routes.TwitterController.save()){
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="@routes.TwitterController.getPage()">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@routes.TwitterController.refresh()">Refresh <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    @helper.inputText(twitter("hashtag"), '_label -> "",
                        '_id -> "hashtag",
                        '_class -> "ui-state-default mr-sm-4",
                        '_showConstraints -> false,
                        '_error -> "Force an error",
                        '_showErrors -> false,
                        'placeholder -> "search")
                </form>
            </div>
        </nav>

    }


    <div class="list-group">
    @for(text <- texts) {
        @defining(text.getUser) { user =>

            <a href="@routes.TwitterController.userInfo(user.getId)" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@user.getName</h5>
                </div>
                <p class="mb-1">@text.getText</p>
            </a>
        }
    }
    </div>

}

