@(users : User)
@layout(" All texts") {
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane" id="profile">Content here...</div>
            <div class="tab-pane" id="messages">Messages...</div>
            <div class="tab-pane" id="settings">Settings...</div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-10"><h1>@users.getScreen_name</h1></div>
            @*<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src=@users.getProfile_image_url></a></div>*@
        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->

                <ul class="list-group">
                    <li class="list-group-item text-muted">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> @users.getCreated_at</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>name</strong></span> @users.getName</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>friends</strong></span> @users.getFriends</li>

                </ul>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> @users.getPosts</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> @users.getFollowers</li>
                </ul>

            </div><!--/col-3-->
            <div class="col-sm-9">


                        <hr>

                        <h4>Recent Activity</h4>

                        <div class="table-responsive">
                            <table class="table table-hover">

                                <tbody>
                                    @for(text <- users.getTexts) {
                                        <tr>
                                            <td><i class="pull-right fa fa-edit"></i> @text</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div><!--/tab-pane-->



                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->

}

